{% extends 'base.html.twig' %}

{% block title %}Les abeilles{% endblock %}

{% block body %}

<p>Abeilles</p>

<a class="btn btn-info" href="{{ path('documentation_apiculture')}}">Retour</a>

{% endblock %}