{% extends 'base.html.twig' %}

{% block title %}Historique{% endblock %}

{% block body %}

<p>Ruche</p>

<a class="btn btn-info" href="{{ path('documentation_apiculture')}}">Retour</a>

{% endblock %}