{% extends 'base.html.twig' %}

{% block title %}Produits de la ruche{% endblock %}

{% block body %}

<p>Produits</p>

<a class="btn btn-info" href="{{ path('documentation_apiculture')}}">Retour</a>

{% endblock %}